
@{
    ViewBag.Title = "Social";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Cài đặt tài khoản / </span> Tài khoản liên lạc
    </h4>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card">
                        <h5 class="card-header">Tài khoản liên lạc</h5>
                        <div class="card-body">
                            <p>Hiển thị nội dung từ các tài khoản xã hội trên trang web của bạn</p>
                            <!-- Social Accounts -->
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img src="~/Admin/assets/img/icons/brands/facebook.png"
                                         alt="facebook"
                                         class="me-3"
                                         height="30" />
                                </div>
                                <div class="flex-grow-1 row">
                                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                        <h6 class="mb-0">Facebook</h6>
                                        <a href="https://www.facebook.com/profile.php?id=100014973210247" target="_blank">Darkin</a>
                                    </div>
                                    <div class="col-4 col-sm-5 text-end">
                                        <button type="button" class="btn btn-icon btn-outline-secondary">
                                            <i class="bx bx-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img src="~/Admin/assets/img/icons/brands/twitter.png"
                                         alt="twitter"
                                         class="me-3"
                                         height="30" />
                                </div>
                                <div class="flex-grow-1 row">
                                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                        <h6 class="mb-0">Twitter</h6>
                                        <a href="https://twitter.com/lnhthun12" target="_blank">lnhthun12</a>
                                    </div>
                                    <div class="col-4 col-sm-5 text-end">
                                        <button type="button" class="btn btn-icon btn-outline-danger">
                                            <i class="bx bx-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img src="~/Admin/assets/img/icons/brands/instagram.png"
                                         alt="instagram"
                                         class="me-3"
                                         height="30" />
                                </div>
                                <div class="flex-grow-1 row">
                                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                        <h6 class="mb-0">instagram</h6>
                                        <a href="https://www.instagram.com/darkin_02/" target="_blank">darkin_02</a>
                                    </div>
                                    <div class="col-4 col-sm-5 text-end">
                                        <button type="button" class="btn btn-icon btn-outline-danger">
                                            <i class="bx bx-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img src="~/Admin/assets/img/icons/brands/dribbble.png"
                                         alt="dribbble"
                                         class="me-3"
                                         height="30" />
                                </div>
                                <div class="flex-grow-1 row">
                                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                        <h6 class="mb-0">Dribbble</h6>
                                        <small class="text-muted">Không có liên kết</small>
                                    </div>
                                    <div class="col-4 col-sm-5 text-end">
                                        <button type="button" class="btn btn-icon btn-outline-secondary">
                                            <i class="bx bx-link-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/Admin/assets/img/icons/brands/behance.png"
                                         alt="behance"
                                         class="me-3"
                                         height="30" />
                                </div>
                                <div class="flex-grow-1 row">
                                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                        <h6 class="mb-0">Behance</h6>
                                        <small class="text-muted">Không có liên kết</small>
                                    </div>
                                    <div class="col-4 col-sm-5 text-end">
                                        <button type="button" class="btn btn-icon btn-outline-secondary">
                                            <i class="bx bx-link-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /Social Accounts -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->
