<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        #root ~ div, center {
            display: none !important;
        }
    </style>
    <title>Error</title>
</head>
<body>
    <div id="root">
        <hgroup>
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
    </div>
</body>
</html>
